h2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz {
    background-color: pink;
    min-height: 100vh;
}