.weatherapi{
    background-color: skyblue;
    min-height: 100vh;
}

h1 {
    margin: 0;
    padding-top: 8vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}